.menu {
  &__list {
    display: flex;
    @include list-reset;
  }

  &__item {
    &:nth-child(1) .menu__link {
      padding-left: 0;
    }
  }

  &__link {
    display: block;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    @include font-xs;
    color: $white;
    cursor: pointer;
    box-sizing: border-box;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $red;
      transition: color 0.3s ease-in-out;
    }

    @include tablet {
      font-size: 14px;
    }
  }
}
